piergiorgio-roveda.code-workspace
awesome-workspace/remote-sensing.zip
project/geo-notebook/screenshoots/2025-08-08 13_02_44-Settings.png
project/ANNCSU-experiment-01/
Mobile Notes a9339af3dc9f487aaa679e9c5647a6b3.md
awesome-workspace/archive/2025/analytics-is-changing-again-2025-08-01.md
awesome-workspace/private-knowledge.md
awesome-workspace/private-gis-corp.md
awesome-workspace/(only-link) Mobile Notes a9339af3dc9f487aaa679e9c5647a6b3.md
awesome-workspace/private-mobile-notes.md
*.svg
.private
awesome-workspace/archive/2025/enhance-geospatial-analysis-and-gis-workflows-with-amazon-bedrock-capabilities.md
*.pdf
awesome-workspace/archive/2025/l-ai-non-sa-dire-di-no.md
project/geodata-crawler
.obsidian
